# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

*.tar.gz
*.py~
*.R~
*.*~

*.idea

#dados muito grandes
*.dat
*.csv
